/* Decempber 2017 by vj from www.w3schools.com/w3css/4/w3mobile.css */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
body{BACKGROUND: url("homepage_background_dsc05240.jpg") left top; BACKGROUND-REPEAT: no-repeat;}
html,body{margin-top:0px;margin-left:8px;font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
/* O */
a:link{color: #0000EE}
a:visited {color: #551A8B}
